<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finsight</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>Finsight Trading & Portfolio</h1>
    <hr>
</header>
<main>
